
  <h2 class="profile">FacebookClone</h2>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <% unless current_user.id == @user.id %>
  <%= render 'request_form' %>
  <% unless current_user.id == @user.id %>
      <span><%= link_to "Message #{@user.name}", new_user_message_path(@user) %></span>
  <% end %>
  <% end %>

  
<div> 
  <span><%= image_tag @user.image_url %></span>
  <spam><b><%= @user.name %></b></span>

  <span><%= link_to "Status Feed", posts_path %></span>

</div>



<h2 class="friends">Friends</h2>

<div class="stats">
    <% if current_user.id == @user.id %>
    <a href="<%= requesting_user_path(current_user) %>">
    <strong id="requesters" class="stat">
      <%= @user.requesting.count %>
    </strong>
    Friends 
  </a>
    <% else %>
    <a href="<%= requesters_user_path(@user) %>">
    <strong id="requesting" class="stat">
      <%= @user.requesters.count %>
    </strong>
    Friends 
  </a>
  <% end %>
</div>

<div class="user-activity">


  <h2>Recent Activity</h2>

  <table id="users">
        <% @user.posts.each do |post| %>
        <tr>
          <td>
            <b>On:</b> <%= post.created_at.strftime("%d %b. %Y") %>
            <%= post.created_at.strftime("%H:%M") %><br>
            <b>You said:</b> "<%= post.content %>"<br>
          </td>
        </tr>
    <% end %>
  </table>

    <% @user ||= current_user %>

      <div id="sidebar">
        <b>What are <%= "#{@user.name}'s" %> . . . <br>
        <div id="favorite_movies">      
          <span>Favorite Movies?</b></span><br>
          <div>  
            <p class="movies"><%= @user.favorite_movie %></p>
          </div>
        </div>
        <div id="pets">
          <b>Pets</b>
          <div>
            <p class="pets"><%= @user.pets %></p>
          </div>
        </div>
        <div id="quotes">
          <b>Best Quotes</b>
          <div>
            <p class="quotes"><%= @user.quotes %></p>
          </div>
      </div>
    </div>
</div>

<script>
  (function (){

    $('p.movies').hide()
    $('div#favorite_movies').hover(function() {

    $('p.movies').toggle().css(
    {'font-size': '25px',
      'color': 'White'
      }
      )
        });
    $('p.pets').hide()
    $('div#pets').hover(function() {
      $('p.pets').toggle().css(
        {'font-size':'25px', 
         'color': 'White'
        }
      )
    });
    $('p.quotes').hide()
    $('div#quotes').hover(function() {
      $('p.quotes').toggle().css(
        {'font-size': '25px',
          'color': 'White'
        }
      )
    });
  })();
</script>


