
<h2>Profile</h2>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<%= render 'request_form' %>
<% unless current_user.id == @user.id %>
  <span><%= link_to "Message #{@user.name}", new_user_message_path(@user) %></span>
<% end %>
<p></p>
<p></p>

<div><b><%= @user.name %></b></div><br>

<div><%= image_tag @user.image_url %></div><br>



<%= link_to "View all posts", posts_path %>

<h3>Friends</h3>
  
<% @user ||= current_user %>
<div class="stats">
  <a href="<%= requesting_user_path(@user) %>">
    <strong id="requesting" class="stat">
      <%= @user.requesting.count %>
    </strong>
    requesting
  </a>
</div>
<div>
  <a href="<%= requesters_user_path(@user) %>">
    <strong id="requesters" class="stat">
      <%= @user.requesters.count %>
    </strong>
    requesters 
  </a>
</div>

