


<h2>What's happening</h2><br>

	<body>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

	<button>Make Post</button>
	<div id="new"><%= render 'new' %></div>

	<% (@posts).each do |p| %>

	<p></p>

	<div>
		<%= image_tag p.user.image_url %>
		<%= p.created_at.strftime("%d %b. %Y") %>
		<%= p.created_at.strftime("%H:%M") %><br>
		<%= p.user.name %> says: "<%= p.content %>"
		<%= image_tag p.image_url %>
		<% if p.user_id == current_user.id %>
			<%= link_to "Edit", edit_post_path(p) %>
			<%= link_to "Delete", p, :method => :delete %>
		<% else %>
			<div>
			<% if p.likes.include?(current_user) %>
				<%= link_to "Unlike", unlike_post_path(p), class: 'like' %>
				You like this
			<% else %>
				<%= link_to "Like", like_post_path(p), class: 'like'%>
			<% end %>
			<%= p.likes.count %>
			<span class="like_names">Likes this: <%= p.likes.pluck(:name).join(", ") %></span>
			</div>
			<p></p>
			<p></p>
		<% end %>
	<% end %>
	<script>
		(function() {
			$('div#new').hide()
			$('button').click(function () {
				$('div#new').show()
			})
		})();

		(function() {
			$('.like_names').hide()
			$('.like').mouseover(function (e) {
				$(e.target).siblings(".like_names").show()
			})
			$('.like').mouseleave(function (e) {
				link = $(e.target)
				link.siblings(".like_names").hide()
			})
		})();	

	</script>

	<p></p>
	<p></p>


</body>