


<h2>What's happening</h2>

	<% @posts.each do |p| %>

	<div>
		<%=  p.user.name %> says on:
		<%= p.created_at.strftime("%d %b. %Y") %>
		<%= p.created_at.strftime("%H:%M") %><br>
		<%=  p.content %>
	<% if p.user_id == current_user.id %>
		<%= link_to "Edit", edit_post_path(p) %>
		<%= link_to "Delete", p, :method => :delete %>
		<p></p>
		<p></p>
	<% else %>
		<p>Sorry, you must be logged in as <%= p.user.name %> 
		in order to touch this!</p>
	</div>
		<% end %>
	<% end %>

	<p></p>
	<p></p>

	<div>
		<%= link_to "New", new_post_path %>
	</div>

