


<h2>What's happening</h2><br>

	<body>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

	<button>Make Post</button>
	<div id="new"><%= render 'new' %></div>

	<% @posts.each do |p| %>

	<p></p>

	<div>
		<%= image_tag p.user.image_url %>
		<%= p.created_at.strftime("%d %b. %Y") %>
		<%= p.created_at.strftime("%H:%M") %><br>
		<%= p.user.name %> says:
		<%= p.content %>
	<% if p.user_id == current_user.id %>
		<%= link_to "Edit", edit_post_path(p) %>
		<%= link_to "Delete", p, :method => :delete %>
		<p></p>
		<p></p>
	<% else %>
	
	</div>
		<% end %>
	<% end %>

	<p></p>
	<p></p>

	<script>
		(function() {
			$('div#new').hide()
			$('button').click(function () {
				$('div#new').show()
			})
		})();	
	</script>
</body>