

<h4>New Post</h4>

<%= @post ||= Post.new %>
<%= form_for(@post) do |f| %>

  <%= f.text_area :content %><br />
  <%= f.hidden_field :user_id %>
  <div>
    <%= f.submit "Save" %>
  </div>
<% end %>
