<!DOCTYPE html>
<html>
<head>
  <title>Authentication</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <div id="user_nav">
  <% if current_user %>
    Logged in as <%= current_user.email %>
    <span><%= link_to "Inbox", user_messages_path(current_user) %></span>
    <span><%= link_to "Friends", users_path %></span> 
    <span><%= link_to "Profile", current_user %></span>
    <span><%= link_to "Settings", edit_user_path(current_user) %></span>
    <span><%= link_to "Log out", log_out_path %></span>
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "log in", log_in_path %>
  <% end %>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
</head>
<body>

<%= yield %>

</body>
</html>
